<h2>Edit an Author</h2>

<p id="error">{{message}}</p>

<div id="newform">
  <form (submit)="onEdit(thispet)">
    <!-- <p>Name:</p>
    <input type="text" name="thispet.name" [(ngModel)]="thispet.name" /><br><br>
    <p>Pet Type:</p>
    <input type="text" name="thispet.pettype" [(ngModel)]="thispet.pettype" /><br><br>
    <p>Description:</p>
    <input type="text" name="thispet.description" [(ngModel)]="thispet.description" /><br><br>
    <p>Some Skills:</p>
    <p>Skill 1:</p>
    <input type="text" name="thispet.skill1" [(ngModel)]="thispet.skill1" /><br><br>
    <p>Skill 2:</p>
    <input type="text" name="thispet.skill2" [(ngModel)]="thispet.skill2" /><br><br>
    <p>Skill 3:</p>
    <input type="text" name="thispet.skill3" [(ngModel)]="thispet.skill3" /><br><br>
    <input type="submit" value="Edit This Pet" /> -  
    <button [routerLink]="['']">Cancel</button> -->

    <table>
      <tr>
        <th>Pet Name:</th>
        <td><input type="text" name="thispet.name" [(ngModel)]="thispet.name" /></td>
      </tr>
      <tr>
        <th>Pet Type:</th>
        <td><input type="text" name="thispet.pettype" [(ngModel)]="thispet.pettype" /></td>
      </tr>
      <tr>
        <th>Description:</th>
        <td><input type="text" name="thispet.description" [(ngModel)]="thispet.description" /></td>
      </tr>
      <tr>
        <th>Add skills 1:</th>
        <td><input type="text" name="thispet.skill1" [(ngModel)]="thispet.skill1" /></td>
      </tr>
      <tr>
        <th>Add skills 2:</th>
        <td><input type="text" name="thispet.skill2" [(ngModel)]="thispet.skill2" /></td>
      </tr>
      <tr>
        <th>Add skills 3:</th>
        <td><input type="text" name="thispet.skill3" [(ngModel)]="thispet.skill3" /></td>
      </tr>

      <tr>
        <td><button [routerLink]="['']">Cancel</button> </td>
        <td><input type="submit" value="Edit This Pet" /></td>
      </tr>
    </table>

</form>
</div>